body > header {
  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.5em;
    color: $title-color;
    float: left;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
    div{
      float: left;
    }
    div#logoText{
      margin: 0px 4px
    }
    div#logoLeft, #logoRight{
      color: $accent-color;
	  font-size: 2.0em;
	  margin-top: 7px;
	  font-weight: light;
    }
	div#subtitle {
		@extend .sans;
		margin-top: -0.5em;
		margin-left: 0.5em;
		font-size: 0.4em;
		color: $subtitle-color;
		font-weight: normal;
		letter-spacing: 1px;
		clear: both;
	}
  }
  h2 {
    @extend .sans;
    margin-bottom: 0em;
    font-size: 0.6em;
    color: $subtitle-color;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
    float: left;
  }
}
