body > header {
  h1 {
    display: inline-block;
    margin: 0;
    line-height: 1.2em;
    font-size: 1.5em;
    color: $title-color;
    float: left;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
    div{
      float: left;
    }
    div#logoText{
      margin: 0px 4px
    }
    div#logoLeft, #logoRight{
      color: $accent-color;
    }
  }
  h2 {
    @extend .sans;
    margin-bottom: 0em;
    font-size: 0.6em;
    color: $subtitle-color;
    font-weight: normal;
    letter-spacing: 1px;
    clear: both;
    float: left;
  }
}
