// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

$border-ep: #E0E0E0;

html 
{
    background: $page-bg;
}

  #main
  {
  border-left: 1px solid $border-ep;
  border-right: 1px solid $border-ep;
  border-bottom: 1px solid $border-ep;
  }

body {
  line-height: 1.5em;
  color: $text-color;
  font-size: 1em;
  @extend .serif;
}

h1 {
  font-size: 1.8em;
  line-height: 1.2em;
}

h1.external{
  font-style: italic;
}

h1 span{
  font-weight: normal;
  font-style: normal;
  color: #E0841B;
}

@media only screen and (min-width: 992px) {
  body { font-size: 1em; }
  h1 { font-size: 1.8em; line-height: 1.2em; }
}

body > footer {
  background: $page-bg;
}


body {
  > div {
    background: $sidebar-bg;
    border-bottom: 1px solid $page-border-bottom;
    > div {
      background: $main-bg;
      border-right: 1px solid $sidebar-border;
    }
  }
}